# Practica 2
## Prueba

In [39]:
from scipy.optimize import differential_evolution
from group10.EA import EA
from benchmarks.functions import sphere, ackley, rosenbrock, rastrigin, griewank, schwefel_2_21,schwefel_2_22, schwefel_1_2, extended_f_10, bohachevsky, schaffer
import pandas as pd
import numpy as np
print('here')

here

In [40]:
def DE_biblio(m_function,bounds,p_size,iteration):
    result = differential_evolution(m_function, bounds, popsize=p_size, polish=False, maxiter=iteration,strategy="rand1bin")
    return result

In [41]:
def DE_propio(m_function,bounds,p_size,iteration):
    miEA = EA(m_function, bounds, p_size)
    miEA.run(iteration)
    bestGenome = miEA.best()
    return bestGenome

In [42]:
resultMI={}
benchmark=[sphere, ackley, rosenbrock, rastrigin, griewank, schwefel_2_21,
             schwefel_2_22, schwefel_1_2, extended_f_10, bohachevsky, schaffer]
for func in benchmark:
    resultMI[func.__name__] = DE_propio(func, [(-100, 100)] * 10,50,100).solution
# resultMI

In [43]:
resultDE={}
for func in benchmark:
    resultDE[func.__name__] = DE_biblio(func, [(-100, 100)] * 10,50,1).x
# resultDE

In [44]:
ind=['sphere', 'ackley', 'rosenbrock', 'rastrigin', 'griewank', 'schwefel_2_21',
             'schwefel_2_22', 'schwefel_1_2', 'extended_f_10', 'bohachevsky', 'schaffer']
col=['avg','std','min','max','med']

In [45]:
df_b=pd.DataFrame(index=ind,columns=col)

               avg  std  min  max  med
sphere         NaN  NaN  NaN  NaN  NaN
ackley         NaN  NaN  NaN  NaN  NaN
rosenbrock     NaN  NaN  NaN  NaN  NaN
rastrigin      NaN  NaN  NaN  NaN  NaN
griewank       NaN  NaN  NaN  NaN  NaN
schwefel_2_21  NaN  NaN  NaN  NaN  NaN
schwefel_2_22  NaN  NaN  NaN  NaN  NaN
schwefel_1_2   NaN  NaN  NaN  NaN  NaN
extended_f_10  NaN  NaN  NaN  NaN  NaN
bohachevsky    NaN  NaN  NaN  NaN  NaN
schaffer       NaN  NaN  NaN  NaN  NaN

In [46]:
df_m=pd.DataFrame(index=ind,columns=col)

               avg  std  min  max  med
sphere         NaN  NaN  NaN  NaN  NaN
ackley         NaN  NaN  NaN  NaN  NaN
rosenbrock     NaN  NaN  NaN  NaN  NaN
rastrigin      NaN  NaN  NaN  NaN  NaN
griewank       NaN  NaN  NaN  NaN  NaN
schwefel_2_21  NaN  NaN  NaN  NaN  NaN
schwefel_2_22  NaN  NaN  NaN  NaN  NaN
schwefel_1_2   NaN  NaN  NaN  NaN  NaN
extended_f_10  NaN  NaN  NaN  NaN  NaN
bohachevsky    NaN  NaN  NaN  NaN  NaN
schaffer       NaN  NaN  NaN  NaN  NaN

In [47]:
algNames = ["MI", "DE"]

results_avg = {}
results_std = {}
results_min = {}
results_max = {}
results_median = {}



for n in algNames:
    results_avg[n] = []
    results_std[n] = []
    results_min[n] = []
    results_max[n] = []
    results_median[n] = []


for func in benchmark:
    f = func.__name__
    results_avg["MI"].append(np.mean(resultMI[f]))
    results_avg["DE"].append(np.mean(resultDE[f]))
    results_std["MI"].append(np.std(resultMI[f]))
    results_std["DE"].append(np.std(resultDE[f]))
    results_min["MI"].append(np.min(resultMI[f]))
    results_min["DE"].append(np.min(resultDE[f]))
    results_max["MI"].append(np.max(resultMI[f]))
    results_max["DE"].append(np.max(resultDE[f]))
    results_median["MI"].append(np.median(resultMI[f]))
    results_median["DE"].append(np.median(resultDE[f]))

# results_avg

In [48]:
df_b.loc[:,'avg']=results_avg["MI"]
df_m.loc[:,'avg']=results_avg["DE"]
df_b.loc[:,'std']=results_std["MI"]
df_m.loc[:,'std']=results_std["DE"]
df_b.loc[:,'max']=results_max["MI"]
df_m.loc[:,'max']=results_max["DE"]
df_b.loc[:,'min']=results_min["MI"]
df_m.loc[:,'min']=results_min["DE"]
df_b.loc[:,'med']=results_median["MI"]
df_m.loc[:,'med']=results_median["DE"]

In [50]:
df_b

                     avg        std         min         max        med
sphere         -0.453300   2.457012   -4.798060    3.189798  -0.398486
ackley         -6.400000  60.085273 -100.000000  100.000000 -12.000000
rosenbrock     10.744729  29.935951   -3.236212  100.000000   1.269632
rastrigin      -0.236270   3.718359   -4.780478    8.194577  -1.377066
griewank       -0.401515   1.993021   -2.748101    2.639544  -0.956872
schwefel_2_21  -2.149777  10.246314  -17.095460   13.618354  -3.832787
schwefel_2_22  -2.338879   3.753971  -10.367996    5.125635  -2.963538
schwefel_1_2   -1.699405  31.994930  -62.346712   41.017167   8.002869
extended_f_10  -6.041255  13.932564  -35.019057   11.275571  -1.721012
bohachevsky     1.560168   2.068288   -1.815146    5.112477   1.270403
schaffer       -2.816627  10.606935  -27.407230   16.404729  -1.439410

In [51]:
df_m

                     avg        std        min        max        med
sphere        -11.528598  28.304717 -49.454335  31.909756 -25.344774
ackley         -0.287189  53.727901 -81.293847  89.547748  -2.495894
rosenbrock      0.492323  32.745521 -78.603381  37.483700  13.536511
rastrigin      -3.848154  25.272499 -56.142946  42.559693  -1.909629
griewank        2.353044  28.238627 -32.188443  48.675150  -1.796914
schwefel_2_21   2.246417  15.539951 -34.354674  21.034204   6.119049
schwefel_2_22  11.564694  56.790187 -85.032493  96.584808   2.035964
schwefel_1_2   -0.387029  36.133479 -62.108199  51.868592  -6.646588
extended_f_10   7.277738  32.272297 -43.130711  87.880085   6.327970
bohachevsky    -0.602086  31.626658 -50.287525  58.271342   3.220522
schaffer      -10.954079  25.048952 -74.201457  23.947373  -1.788433

In [49]:
import scikit_posthocs as sp

data = pd.DataFrame({"algs": ["MI" ]*len(results_avg["MI"]) +
                             ["DE"]*len(results_avg["DE"]) ,
                     "vals": results_avg["MI"] +
                             results_avg["DE"] })

sp.posthoc_wilcoxon(data, val_col='vals', group_col='algs', p_adjust = 'holm')

          MI        DE
MI  1.000000  0.831055
DE  0.831055  1.000000