# Practica 2
## Prueba

In [1]:
from scipy.optimize import differential_evolution
from group10.EA import EA
from benchmarks.functions import ackley, rosenbrock, sphere
import pandas as pd
import numpy as np
print('here')

here

In [2]:
def DE_biblio(m_function,bounds,p_size,iteration):
#     bounds = [(-5.12, 5.12)] * 10
    result = differential_evolution(m_function, bounds, popsize=p_size, polish=False, maxiter=iteration,strategy="rand1bin")
    return result
#     print(result.x)
#     print()
#     print(result.fun)

In [3]:
def DE_propio(m_function,bounds,p_size,iteration):
#     spherebounds = [(-5.12, 5.12)] * 10
    miEA = EA(m_function, bounds, p_size)
    miEA.run(iteration)
    bestGenome = miEA.best()
    return bestGenome
#     print("function sphere")
#     print(bestGenome, "\nfitness:", bestGenome.fitness)

In [4]:
# # bestGenome.solution.T
# d=pd.DataFrame(bestGenome.solution.reshape(-1,len(bestGenome.solution)),columns=[1,2,3,4,5,6,7,8,9,10])
# d

In [5]:
df_b=pd.DataFrame(np.random.randn(10,6),index=np.arange(0,10),columns=['avg','std','min','max','med','fitness'])
df_b.iat
df_b

        avg       std       min       max       med   fitness
0 -0.944213  0.240820 -0.001691  0.252166  0.311144 -1.004193
1 -1.539212 -0.392510  0.119731  0.388360 -0.092242 -0.294809
2  0.236013  1.325748 -0.623120  1.841136 -1.622357 -1.053359
3 -0.264390 -0.342041  0.455298  1.137865 -0.227727  0.000276
4 -0.671966  0.124913 -0.429609  0.354795  0.207722 -0.488238
5 -0.021829 -0.220627 -0.211771 -1.032992  0.686740  0.387076
6  2.011159 -0.882174  0.655854 -0.624201 -0.048064 -0.928246
7 -0.806460  0.712405  0.937398  1.144416 -1.979357  0.915014
8  0.889542  0.177256  0.798885  2.048634 -0.340650 -0.301658
9  0.586248  0.927099 -0.005690  0.442012  1.592529 -0.356479

In [6]:
df_m=pd.DataFrame(np.random.randn(10,6),index=np.arange(0,10),columns=['avg','std','min','max','med','fitness'])
df_m

        avg       std       min       max       med   fitness
0 -0.610444 -0.561156  1.192061 -0.655478 -0.096797  1.779648
1 -1.145499  1.015511  0.934130 -0.767955 -0.161900 -0.821011
2  0.706378 -0.221286  0.976806 -0.369159 -1.092347 -0.570974
3  0.122378 -0.668583  0.263904  0.264525  0.433776 -0.631942
4 -1.226349  0.052294 -0.257053 -1.472602  1.190476 -0.115911
5  0.966125 -0.192599 -0.356527  0.270952  0.777732  1.819427
6  1.751114  0.525390  1.394495  0.468004 -0.900856  1.157214
7 -1.008588 -0.061353 -1.012233 -0.376489  1.361701 -1.369980
8 -0.573113  2.550809 -1.821217  2.507913  0.041596  2.077740
9 -0.978526 -1.066079 -0.150347 -0.759476  1.402951 -0.041672

In [7]:
np.arange(1,10)

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [8]:
for i in range(10):
    #sphere
    spherebounds = [(-5.12, 5.12)] * 10
    b=DE_biblio(sphere,spherebounds,50,1)
    d=DE_propio(sphere,spherebounds,50,1)
    df_b.iat[i,0]=np.average(b.x)
    df_m.iat[i,0]=np.average(d)
    df_b.iat[i,1]=np.std(b.x)
    df_m.iat[i,1]=np.std(d)
    df_b.iat[i,2]=np.min(b.x)
    df_m.iat[i,2]=np.min(d)
    df_b.iat[i,3]=np.max(b.x)
    df_m.iat[i,3]=np.max(d)
    df_b.iat[i,4]=np.median(b.x)
    df_m.iat[i,4]=np.median(d)
    df_b.iat[i,5]=b.fun
    df_m.iat[i,5]=d.fitness

In [9]:
df_b

        avg       std       min       max       med    fitness
0 -0.346710  1.283577 -3.144495  0.734437  0.134102  17.677769
1 -0.004353  1.188414 -1.753128  2.044350 -0.208081  14.123472
2 -0.016626  1.353657 -2.307895  1.752874 -0.071086  18.326640
3 -0.384160  1.328631 -1.996502  2.255131 -0.427831  19.128383
4  0.392893  1.224105 -1.682732  2.843295  0.446662  16.527984
5 -0.370244  1.203708 -2.299440  1.920905 -0.321611  15.859933
6  0.140314  1.248807 -1.627518  2.166845  0.164399  15.792063
7 -0.059738  1.263088 -2.958242  2.453561 -0.139695  15.989599
8  0.337467  1.158706 -2.317091  1.621292  0.715913  14.564849
9 -0.025738  1.374297 -2.068740  1.998681 -0.156518  18.893551

In [10]:
df_m

        avg       std       min       max       med    fitness
0  0.056237  1.874000 -4.585541  2.809604  0.355343 -35.150374
1 -0.765818  1.785933 -4.071246  2.023373 -0.213024 -37.760325
2  0.129889  1.792694 -2.772540  2.581441  0.167962 -32.306219
3  0.287367  1.974760 -2.779775  3.638231  0.704978 -39.822547
4  0.798485  1.663394 -2.838771  3.393936  0.748973 -34.044590
5 -0.797700  1.307276 -3.082931  1.222112 -0.834683 -23.452955
6 -0.116351  1.951953 -2.915716  2.677102 -0.225355 -38.236588
7 -0.352100  1.534202 -2.577762  2.215545 -0.697388 -24.777496
8 -0.416734  1.931066 -3.272762  2.987664 -0.291685 -39.026812
9 -0.201995  2.148423 -3.944162  3.622799  0.077088 -46.565248

In [11]:
import pprint
resultMI={}
benchmark=[sphere,ackley,rosenbrock]
for func in benchmark:
    resultMI[func.__name__] = DE_propio(func, [(-10, 10)] * 10,10,25).solution
# pp = pprint.PrettyPrinter(indent=5)
# pp.pprint(resultDE)
resultMI

{'sphere': array([-0.49016498,  0.74333561,  1.2149465 ,  0.61422311,  3.39116971,
         0.4595517 , -0.46845728,  2.87286318,  1.49306636,  0.44522284]),
 'ackley': array([-0.86887551,  0.7086328 ,  4.0275321 ,  0.76001014,  1.06500994,
        -1.20559686, -2.14291584,  4.25085395,  2.19076065,  0.21827521]),
 'rosenbrock': array([ 1.58399552, -4.92653063, -3.89671344,  0.27303483, -1.81098411,
        -4.91120615, -3.10954049, -0.68283229, -2.74640107, 10.        ])}

In [12]:
resultDE={}
benchmark=[sphere,ackley,rosenbrock]
for func in benchmark:
    resultDE[func.__name__] = DE_biblio(func, [(-10, 10)] * 10,10,25).x
# pp = pprint.PrettyPrinter(indent=5)
# pp.pprint(resultDE)
resultDE

{'sphere': array([ 1.38144334,  0.34689743, -1.533046  , -1.35199415,  0.51435395,
         0.32823946,  1.6801717 ,  0.05472574,  1.18398605,  2.36447386]),
 'ackley': array([ 0.97374547, -0.01095915, -0.7267454 , -0.48461431, -0.75151961,
         0.9131927 ,  2.87269483, -0.62486951, -0.82562964, -0.285048  ]),
 'rosenbrock': array([ 0.96000241, -2.44267423, -2.13948173, -1.32448482, -2.59811758,
        -0.10050528, -1.94257041, -1.9483387 ,  0.28626674, -1.91593791])}

In [13]:
algNames = ["MI", "DE"]

results_avg = {}

for n in algNames:
    results_avg[n] = []

for func in benchmark:
    f = func.__name__
    results_avg["MI"].append(np.mean(resultMI[f]))
    results_avg["DE"].append(np.mean(resultDE[f]))


results_avg

{'MI': [1.027575674877335, 0.9003686592733404, -1.02271778243446],
 'DE': [0.4969251368020194, 0.10502473758592223, -1.3165841511044556]}

In [14]:
# from scipy.stats import friedmanchisquare

# friedmanchisquare(results_avg["MI"], results_avg["DE"])

In [ ]:
import scikit_posthocs as sp

data = pd.DataFrame({"algs": ["MI" ]*len(results_avg["MI"]) +
                             ["DE"]*len(results_avg["DE"]) ,
                     "vals": results_avg["MI"] +
                             results_avg["DE"] })

sp.posthoc_wilcoxon(data, val_col='vals', group_col='algs', p_adjust = 'holm')

      MI    DE
MI  1.00  0.25
DE  0.25  1.00