# Practica 2
## Prueba

In [1]:
from scipy.optimize import differential_evolution
from group10.EA import EA
from benchmarks.functions import ackley, rosenbrock, sphere
import pandas as pd
import numpy as np
print('here')

here

In [2]:
def DE_biblio(m_function,bounds,p_size,iteration):
#     bounds = [(-5.12, 5.12)] * 10
    result = differential_evolution(m_function, bounds, popsize=p_size, polish=False, maxiter=iteration,strategy="rand1bin")
    return result
#     print(result.x)
#     print()
#     print(result.fun)

In [3]:
def DE_propio(m_function,bounds,p_size,iteration):
#     spherebounds = [(-5.12, 5.12)] * 10
    miEA = EA(m_function, bounds, p_size)
    miEA.run(iteration)
    bestGenome = miEA.best()
    return bestGenome
#     print("function sphere")
#     print(bestGenome, "\nfitness:", bestGenome.fitness)

In [4]:
# # bestGenome.solution.T
# d=pd.DataFrame(bestGenome.solution.reshape(-1,len(bestGenome.solution)),columns=[1,2,3,4,5,6,7,8,9,10])
# d

In [5]:
df_b=pd.DataFrame(np.random.randn(10,6),index=np.arange(0,10),columns=['avg','std','min','max','med','fitness'])
df_b.iat
df_b

        avg       std       min       max       med   fitness
0  0.072570  3.155868 -1.160722  0.811177  1.754936 -1.165511
1  0.123985 -0.700062  0.596561 -1.310996  0.754645  0.887010
2 -0.199201 -0.073310 -0.158612 -0.142739 -2.419620 -1.696335
3 -1.138267 -1.727262 -0.156594 -1.002348  0.335947  0.700020
4 -0.230988  0.793890  0.033130  0.286622  0.244277  1.189985
5  1.145270 -1.312557 -1.607329  0.890523 -0.244320 -0.191128
6 -1.889917 -1.429226 -2.496926 -0.391436 -0.964349  1.297845
7  0.495746  2.075456 -0.677876 -1.861302 -0.948048 -0.751327
8  0.254340  0.463004 -0.220545  0.962765 -0.138734  0.556659
9  0.193785 -0.223537  1.183718 -0.122287 -0.413263 -0.323197

In [6]:
df_m=pd.DataFrame(np.random.randn(10,6),index=np.arange(0,10),columns=['avg','std','min','max','med','fitness'])
df_m

        avg       std       min       max       med   fitness
0  0.426553 -0.122959  0.090719 -0.651676 -0.234033 -0.851539
1  0.828415  0.033187  1.674057  1.152019 -1.130415  1.110178
2  0.454128 -0.480551  1.104367 -0.406936 -0.733154 -0.445394
3  0.263677 -0.125941  0.547117 -1.168357  0.879656 -1.051431
4  0.520954  1.378633  0.832407 -0.962988 -1.496593 -0.024862
5 -1.062085 -0.713297 -1.165154  1.336586  1.024376  0.615290
6  0.283087 -0.670470 -2.330771 -0.948985 -0.754761  0.711606
7  2.212443  0.964566 -0.915255 -0.230963  0.916925 -0.470700
8 -1.720962 -0.406412  0.859096  1.417016  0.348645 -0.151200
9 -0.643371 -0.700312 -0.457633  0.413433 -0.664293  0.266431

In [7]:
np.arange(1,10)

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [8]:
for i in range(10):
    #sphere
    spherebounds = [(-5.12, 5.12)] * 10
    b=DE_biblio(sphere,spherebounds,50,1)
    d=DE_propio(sphere,spherebounds,50,1)
    df_b.iat[i,0]=np.average(b.x)
    df_m.iat[i,0]=np.average(d)
    df_b.iat[i,1]=np.std(b.x)
    df_m.iat[i,1]=np.std(d)
    df_b.iat[i,2]=np.min(b.x)
    df_m.iat[i,2]=np.min(d)
    df_b.iat[i,3]=np.max(b.x)
    df_m.iat[i,3]=np.max(d)
    df_b.iat[i,4]=np.median(b.x)
    df_m.iat[i,4]=np.median(d)
    df_b.iat[i,5]=b.fun
    df_m.iat[i,5]=d.fitness

In [9]:
df_b

        avg       std       min       max       med    fitness
0 -0.263127  1.323085 -1.710190  2.371960 -0.906902  18.197908
1 -0.482740  1.023112 -2.105084  1.369845 -0.424797  12.797958
2  0.521397  1.522824 -2.281727  2.069385  1.278038  25.908466
3  0.305771  1.339356 -2.298710  2.808413  0.181147  18.873702
4  0.036499  1.446287 -2.151429  3.047460 -0.534641  20.930791
5  0.252528  1.497881 -2.549170  1.731292  0.878351  23.074185
6  0.031130  1.610644 -2.134543  3.256268 -0.033499  25.951431
7  0.082224  1.244901 -2.018847  1.897172  0.188339  15.565392
8 -0.207100  1.247674 -2.169563  1.830587 -0.450773  15.995800
9 -0.219902  1.305384 -2.446923  1.538987 -0.079607  17.523838

In [10]:
df_m

        avg       std       min       max       med    fitness
0  0.495052  1.961855 -3.523470  2.699475  0.971154 -40.939500
1  0.093449  1.601027 -2.521433  2.613499 -0.091747 -25.720198
2  0.059581  1.845997 -2.633869  2.988232  0.141235 -34.112559
3 -0.326608  1.508325 -3.352271  2.085672 -0.337475 -23.817156
4  0.352491  1.185326 -1.023240  2.230964  0.138026 -15.292475
5 -0.208429  2.037023 -3.674117  3.967669 -0.498589 -41.929051
6 -0.791226  1.728959 -3.176065  2.394892 -0.974734 -36.153362
7  0.156367  2.035798 -5.054416  2.376108  0.522442 -41.689224
8  0.104887  1.997936 -4.033176  2.566047  0.729926 -40.027507
9  0.768984  2.249907 -4.740778  3.631889  0.963846 -56.534178

In [11]:
import pprint
resultMI={}
benchmark=[sphere,ackley,rosenbrock]
for func in benchmark:
    resultMI[func.__name__] = DE_propio(func, [(-10, 10)] * 10,10,25).solution
# pp = pprint.PrettyPrinter(indent=5)
# pp.pprint(resultDE)
resultMI

{'sphere': array([ 2.19704457,  0.70064104, -2.70524541, -1.21735947, -1.19646189,
         3.75046038, -0.80575213,  1.33176981, -0.47335841, -1.50653695]),
 'ackley': array([-0.91652165,  1.17883812, -3.166554  ,  4.11380847, -0.85974383,
        -2.74369569, -1.67928038,  0.84741606, -0.96357635, -3.00048617]),
 'rosenbrock': array([-2.12754162,  0.62869762, -2.30720187, -0.69445845, -2.56554428,
        -0.56576732, -1.20344993,  0.58939243, -3.73990265, 10.        ])}

In [12]:
algNames = ["MI", "DE"]

results_avg = {}

for n in algNames:
    results_avg[n] = []

for func in benchmark:
    f = func.__name__
    results_avg["MI"].append(np.mean(resultMI[f]))
#     results_avg["DE"].append(np.mean(resultDE[f]))


results_avg

{'MI': [0.007520154634656962, -0.7189795407534497, -0.19857760710512018],
 'DE': []}

In [13]:
# from scipy.stats import friedmanchisquare

# friedmanchisquare(results_avg["MI"], results_avg["DE"])

In [14]:
import scikit_posthocs as sp

data = pd.DataFrame({"algs": ["MI" ]*len(results_avg["MI"]) +
                             ["DE"]*len(results_avg["DE"]) ,
                     "vals": results_avg["MI"] +
                             results_avg["DE"] })

sp.posthoc_wilcoxon(data, val_col='vals', group_col='algs', p_adjust = 'holm')

ModuleNotFoundError: No module named 'scikit_posthocs'